{% extends "base.html" %}

{% block content %}

        <h3>Control</h3>
        {% if control %}
        <a class="btn" href="/create_team/">Create Team</a>
        <a class="btn" href="/create_match/">Create Match</a>
        {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Match Number</th>
                <th>Opponent</th>
                {% if config.ULTISCORE_SHOULD_COLLECT_MVP_NAMES %}
                    {% for i in range(1,config.ULTISCORE_NUMBER_OF_MALE_MVP_NAMES+1) %}
                        <th>Male MVP Choice {{ i }}</th>
                    {% endfor %}
                    {% for i in range(1,config.ULTISCORE_NUMBER_OF_FEMALE_MVP_NAMES+1) %}
                        <th>Female MVP Choice {{ i }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for m in matches %}
                <tr>
                    <td>{{ m.id }}</td>
                    <td>{{ m.get_opponent(team).team_name }}</td>
                    {% if config.ULTISCORE_SHOULD_COLLECT_MVP_NAMES %}
                        {% for i in range(1,config.ULTISCORE_NUMBER_OF_MALE_MVP_NAMES+1) %}
                        <td>{{ m.get_mvps_for_team(team)["male"][i] }}</td>
                        {% endfor %}
                        {% for i in range(1,config.ULTISCORE_NUMBER_OF_FEMALE_MVP_NAMES+1) %}
                        <td>{{ m.get_mvps_for_team(team)["female"][i] }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}